@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }
  
  html {
    font-family: 'Crimson Text', serif;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    color: #313639;
    background-color: #F6F6F6;
  }

  .active {
    position: absolute;
    left: 0;
    bottom: -2;
    height: 1;
    background-color: #F6F6F6;
  }

  .custom-img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
  .full-bleed {
    width: 100%;
    grid-column: 1 / -1;
  }
  .unset-img {
    width: 100%;
  }
  .unset-img > div {
    position: unset !important;
  }
}